#####################################################
# Build
#####################################################

bin/
obj/

#####################################################
# Visual Studio
#####################################################

.vs/

#####################################################
# VS Code
#####################################################

.vscode/settings.json

#####################################################
# Rider
#####################################################

.idea/

#####################################################
# User files
#####################################################

*.user
*.suo
*.cache
*.dbmdl

#####################################################
# Logs

*.log

#####################################################
# NuGet

packages/

#####################################################
# OS

Thumbs.db
Desktop.ini

#####################################################
# Mac

.DS_Store